services:
  database:
    image: "postgres:18"
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    networks:
      - my-net
    volumes:
      - db-data:/var/lib/postgresql

volumes:
  db-data:

networks:
  my-net:
    driver: bridge
